<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web 编程语言列表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
<div id="app">
    Web 编程语言：
    <ul>
        <li v-for="(language, index) in languages">
            {{ index }} : {{ language }}
        </li>
    </ul>
    <div>
        <label>
            <input type="text" v-model="newLanguage" @keyup.enter="addLanguage"/>
        </label>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            languages: [
                'PHP',
                'JavaScript',
                'Python',
                'Golang',
                'Java'
            ],
            newLanguage: '',
        },
        methods: {
            addLanguage() {
                this.languages.push(this.newLanguage);
                this.newLanguage = '';
            },
        }
    });
</script>
</body>
</html>